.pic1 {
  height: 400px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  display: none;
}
.checkbtn {
  display: none;
}
#check {
  display: none;
}
ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .pic1 {
    height: 300px;
    width: 90px;
    background-color: rgb(166, 255, 0);
    flex-direction: column;
  }
  h1 {
    display: ;
  }
}
