* {
  margin-top: 0px;
  padding: 0px;
}
.abc {
  height: 70px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
ul {
  display: flex;
  gap: 20px;
  /* flex-direction: column; */
}

@media screen and (max-width: 600px) {
  .abc {
    height: 300px;
    width: 115px;
    background-color: green;
    flex-direction: column;
  }
  ul {
    flex-direction: column;
  }
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}
/* 
@media screen and (max-width: 600px)
 {.abc {height: 300px; width: 90px; background-color: rgb(166, 255, 0);flex-direction: column;}} */
